{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Books Library</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <span class="brand-logo">Books</span>
        <ul id="nav-mobile" class="right">
          <li> <a href="/">Book List</a></li>
          <li><a href="/contact">Contact Form</a></li>
          <li><a href="/admin">Admin</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
