{% extends "base.jinja2" %}
{% block content %}
  <h1>Contact</h1>
  <form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
