{% extends "base.jinja2" %}
{% block content %}
  {% if books %}
    <div class="row">
      <div class="col s12">
        {% for book in books %}
          <div class="col s4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light"><img src="{{ book.cover.url }}" class="activator"></div>
              <div class="card-content"><span class="card-title activator grey-text text-darken-4">{{ book.title }}<i class="material-icons right">more_vert</i></span></div>
              <div class="card-reveal"><span class="card-title grey-text text-darken-4">{{ book.title }}<i class="material-icons right">close</i></span>
                <p>{{ book.description|safe}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <em> No Books </em>
  {% endif %}
{% endblock %}
